@font-face {
	font-family: "Bebas Kai";
	src: url("WebsiteFonts/bebas_kai/BebasKai-Regular.otf") format("opentype");
}
body {
	font-family: "Bebas Kai";
}

a {
	text-decoration: none;
	color: black;
}

.pace-done {
	margin: 0;
}

#landing {
	color: white;
	background-image: url("http://p1.pichost.me/i/5/1282860.jpg");
	background-size: cover;
	height: 600px;
	width: 100%;
	padding-bottom: 60px;
	text-align: center;
}

#landing h1 {
	font-family: "Bebas Kai";
	text-align: center;
	font-size: 5em;
	padding-top: 215px;
	letter-spacing: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#landing h2 {
	font-family: "Oswald";
	font-weight: 200;
	letter-spacing: .5px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.buttons a {
	text-decoration: none;
	background: transparent;
	color: #ffffff;
	padding-top: 10px;
	border: solid 2px #ffffff;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 50px;
	font-size: .75em;
}

.buttons a:hover {
	background-color: #ffffff;
	color: black;
}

#homepagearrow {
	margin-top: 100px;
	width: 100%;
}

#homepagearrow a {
	margin-left: 45%;
	margin-right: 45%;
	width: 10%;
}

#garbage {
	background: transparent;
	color: black;
	height: 700px;
	width: 100%;
}

#garbage h3 {
	margin-top: 0;
	margin-bottom: 25px;
	padding-top: 100px;
	font-size: 3em;
	padding-left: 600px;
	padding-right: 150px;
}

#garbage p {
	line-height: 1.5em;
	font-family: "Oswald";
	font-weight: 300;
	text-align: left;
	font-size: .85em;
	padding-left: 600px;
	padding-right: 150px;
}

#homepagelogo {
	float: left;
	margin-top: 22px;
	margin-left: 35px;
}

#homepageheader {
	margin-top: 45px;
	margin-left: 10px;
	float: left;
}

#homepageheader a {
	text-decoration: none;
	color: #000000;
	font-size: 1.3em;
	text-align: left;
}

#homepageheader a:hover {
	color: #B3F7FF;
}

#homepagenav{
	margin-top: 45px;
	margin-right: 25px;
	float: right;
}

#homepagenav a {
	margin-right: 30px;
	text-decoration: none;
	color: #000000;
	font-size: 1.3em;
}

#homepagenav a:hover {
	color: #B3F7FF;
}

#header {
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	z-index: 900;
	height: 110px;
}

#header a {
	letter-spacing: .3px;
	font-size: 1.3em;
}

#header a:hover {
	color: #B3F7FF;
}

#buttonlogo {
	width: 30%;
	margin-left: 30px;
	margin-top: 20px;
}

#buttonlogo img {
	margin-bottom: -15px;
}

#buttonlogo a {
	height: 90px;

}

#nav {
	position: fixed;
	top: 45px;
	right: 45px;
	text-align: right;
	z-index: 1000;
	padding-bottom: 5px;
}

#nav a {
	text-decoration: none;
	padding-right: 15px;
	color: #000000;
}

#nav a:hover {
	color: #B3F7FF;
}

#portsec {
	height: 600px; 
	background-color: white;
	padding-top: 10px;
}

#portpieces {
	margin-top: 100px;
	padding-left: 10%;
	padding-right: 10%;
}

article {
	width: 32.5%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	font-family: "Oswald";
	padding-right: 5px;
}

article img {
	width: 100%;
	height: 100%;
}

.title h2 {
	font-size: 1.2em;
	margin-bottom: 0;
	margin-top: 12%;
}

.title p {
	font-size: 1em;
	font-weight: 200;
}

.title hr {
	width: 45%;
}

.title {
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  z-index: 20;
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left:0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/*When hover on div show the overlay as well as th eoverlay text (p)*/
article:hover .title, article:hover .title p {
 visibility: visible;
 opacity: .92;
 cursor: pointer;
}

/*This is where the indivdual projects start*/

.parallax-window {
	min-height: 600px;
	background: transparent;
}
.objectivebar {
	font-family: "Oswald";
	padding-top: 45px;
	padding-bottom: 45px;
	background-color: #f1f1f1;
	color: #000000;
	text-align: left;
	padding-left: 10%;
}

.objectivebar h1 {
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 0;
}

.objectivebar h3 {
	margin-top: 0;
	font-size: .9em;
	font-weight: 200;
}

.objectivebar p {
	margin-top: 0;
	font-weight: 200;
	font-size: .85em;
}

.objectiveheader {
	width: 25%;
	float: left;
}

.objectiveheader h3 {
	font-style: italic;
}

.objectiveoverview {
	margin-top: 5px;
	width: 40%;
	float: right;
	padding-right: 150px;
}

.objectiveoverview h3 {
	font-weight: 400;
	margin-bottom: 0;
}

.objectiveoverview p {
	margin-bottom: 15px;
}

/*Individualized objective bars start*/
#KALLESobjectivebar {
	height: 285px;
}

#RUNAobjectivebar {
	height: 245px;
}

#EATSAobjectivebar {
	height: 120px;
}

#AAobjectivebar {
	height: 265px;
}

#TRIBECAobjectivebar {
	height: 245px;
}

#FOXESobjectivebar {
	height: 120px;
}

#JIFobjectivebar {
	height: 245px;
}

#DOWNYobjectivebar {
	height: 225px;
}

#TRICYCLEobjectivebar {
	height: 245px;
}

#FENCINGobjectivebar {
	height: 245px;
}

.spacingbar {
	height: 50px;
	text-align: center;
}

.spacingbar h3 {
	margin-top: 25px;
	margin-bottom: 25px;
}
/*Individualized objective bars end*/
/*Section1 starts*/

.Section1 {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 150px;
}

.Section1 h2 {
	font-family: "Oswald";
	font-size: 1.3em;
	padding-top: 50px;
}

.Section1 h3 {
	font-family: "Oswald";
	font-size: 1em;
	margin-bottom: 0;
}

.Section1 p {
	margin-top: 0;
}

.opportunity {
	padding-top: 85px;
	padding-bottom: 85px;
	text-align: left;
}

.opportunity img {
	float: right;
}

.opportunity p {
	font-family: "Oswald";
	font-weight: 300;
	line-height: 25px;
}

.thinking {
	text-align: right;
}

.thinking img {
	float: left;
}

.thinking  p {
	font-family: "Oswald";
	font-weight: 300;
	line-height: 25px;
}

#KALLEStask img {
	padding-top: 75px;
}

#RUNAtask img {
	height: 150px;
	padding-top: 95px;
	padding-right: 65px;
}

#EATSAtask img {
	padding-top: 115px;
}

#AAtask img {
	padding-top: 95px;
}

#TRIBECAtask img {
	padding-top: 60px;
}

#DOWNYtask img {
	padding-top: 60px;
	padding-right: 100px;
}

#JIFtask img {
	padding-top: 55px;
}

#JIFtask h3 {
	color: #DA3C3E;
}

#KALLESproduct img {
	padding-top: 35px;
}

#AAproduct img {
	padding-top: 60px;
}

#TRIBECAproduct img {
	padding-top: 40px;
}

#DOWNYsegment1 img {
	padding-top: 35px;
}

#JIFproduct img {
	padding-left: 85px;
	padding-top: 30px;
}

#JIFproduct h3 {
	color: #416CA7;
}

#KALLEStarget img {
	padding-top: 60px;
}

#RUNAtarget img {
	padding-top: 47px;
}

#AAtarget img {
	padding-top: 95px;
}

#TRIBECAtarget img {
	padding-top: 60px;
}

#DOWNYsegment2 img {
	padding-top: 45px;
}

#KALLESthinking img {
	padding-top: 35px;
	padding-left: 75px;
}

#AAthinking img {
	padding-top: 65px;
}

#RUNAculture img {
	padding-top: 90px;
}

#RUNAculture {
	padding-bottom: 0px;
}

#TRIBECAculture img {
	padding-top: 50px;
}

#FOXESthinking {
	padding-bottom: 0px;
}

#DOWNYopportunity img {
	padding-top: 35px;
}

#JIFthinking img {
	padding-top: 60px;
}

#JIFthinking h3 {
	color: #42AC47;
}

#JIFopportunity h3 {
	color: #AD855F;
}

#JIFopportunity img {
	padding-top: 55px;
}

#AAcreativeconcept {
	height: 245px;
	background-color: #F4D024;
}

#KALLEScreativeconcept {
	height: 200px;
	background-color: #BAD6E2;
}

#RUNAcreativeconcept {
	height: 235px;
	background-color: #9ED6D1;
}

#TRIBECAcreativeconcept {
	height: 170px;
	background-color: #000000;
	color: #ffffff;
}

#JIFcreativeconcept {
	height: 265px;
	background-color: #AD855F;
}

/*This is where the creative begins*/

.creative {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}

.creative h2 {
	font-size: 1.2em;
}

.creative h3 {
	padding-top: 75px;
}

.creativeexplanation1 {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: left;
	font-family: "Oswald";
	font-weight: 200;
}

.creativeexplanation1-text {
	width: 70%;
	padding-right: 25%;
}

.creativeexplanation1 hr {
	margin-top: 50px;
}

.creativeexplanation1 p {
	line-height: 25px;
}

.creativeexplanation1-images {
	float: right;
	width: 30%;
}

#RUNAcreativeexplanation1-images {
	float: right;
	width: 15%;
	padding-right: 100px;
}

#RUNAcreativeexplanation1-images img{
	width: 100%;
}

#JIFcreativeexplanation-1images {
	padding-top: 45px;
}

.creativeexplanation1-images img {
	width: 100%;
}

#tribecastageimage {
	margin-top: 75px;
}

/*Creative */
/*Branding Beginning*/

#AAbranding {
	padding-top: 0px;
}

#AAbranding-logos {
	width: 35%;
	float: right;
}

#AAbranding-logos img {
	width: 100%;
}

#AAbranding-packaging {
	width: 80%;
}

#AApackaging-group {
	width: 100%;
}

#AApackaging-group img {
	width: 30%;
	padding-right: 3%;
	padding-top: 100px;
}
/*Branding End*/
/*Auntie Anne's Store Beginning*/

#AAstore-inside img {
	width: 100%;
}

#AAstore-images {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

#AAstore-images img {
	width: 100%;
}

/*Auntie Anne's Store End*/
/*Auntie Anne's Campaign Beginning*/

#AAcampaign-print {
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#AAcampaign-group {
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
}

#AAcampaign-group img{
	width: 32%;
	padding-left: .5%;
	padding-right: .5%;
}

#AAcampaign-ooh {
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
}

#AAcampaign-ooh img {
	width: 99%;
	padding-left: .5%;
	padding-right: .5%;
	padding-top: 5%;
	padding-bottom: 5%;
}
/*Auntie Anne's Campaign End*/
/*Auntie Anne's Branded Content Beginning*/

#AAbrandedcontent-images {
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 200px;
	padding-bottom: 100px;
}

#AAbrandedcontent-images img {
	width: 48%;
	padding-left: .5%;
	padding-right: .5%;
	padding-top: .5%;
	padding-bottom: .5%;
}

/*Team to the footer section*/
.team {
	margin-top: 50px;
}

.team li {
	list-style: none;
}

.team h2 {
	margin-top: 35px;
}

.team h3 {
	margin-top: 0px;
}

.team ul {
	padding-bottom: 25px;
}

.bottomnav {
	width: 100%;
	padding-top: 45px;
}

.bottomnavcontainer {
	width: 30%;
	padding-left: 35%;
	padding-right: 35%;
}

.bottomnavcontainer-buttons {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
}

#contactcontainer {
	background-color: #000000;
	margin-top: 125px;
	padding-top: 15px;
	font-family: "Oswald";
	font-weight: 200;
	font-size: .8em;
}

#contactcontainer ul {
	margin-bottom: 0;
}

#contactcontainer li {
	color: white;
	list-style: none;
	text-align: left;
}

#contactcontainer a {
	color: white;
}

#contactcontainerproj {
	background-color: #000000;
	margin-top: 45px;
	padding-top: 15px;
	font-family: "Oswald";
	font-weight: 200;
	font-size: .8em;
}

#contactcontainerproj ul {
	margin-bottom: 0;
}

#contactcontainerproj li {
	color: white;
	list-style: none;
	text-align: left;
}

#contactcontainerproj a {
	color: white;
}

.infofooter {
	font-family: "Oswald";
	font-size: .75em;
	font-weight: 200;
	text-align: right;
	background-color: black;
	color: white;
	margin-top: 0;
	padding-bottom: 10px;
	padding-right: 40px;
}

.infofooter a {
	color: white;
}

.infofooter p {
	margin-top: 0;
}

/*About me stuff*/
#aboutmephoto img {
	width: 100%;
}

#aboutme {
	background: #F0DEDE;
	color: #ffffff;
	height: 700px;
	width: 100%;
	padding-top: 100px;
}

#aboutme img {
	float: left;
	padding-top: 135px;
	padding-left: 115px;
}

#aboutme h3 {
	font-family: "Cheddar Jack";
	margin-top: 0;
	margin-bottom: 25px;
	padding-top: 100px;
	font-size: 3em;
	padding-left: 600px;
	padding-right: 150px;
}

#aboutme p {
	line-height: 1.5em;
	font-family: "Oswald";
	font-weight: 300;
	text-align: left;
	font-size: .85em;
	padding-left: 600px;
	padding-right: 150px;
}

#resume img {
	margin-top: 100px;
	margin-left: 33.33%;
}

